body {
  background-color: #34495E;
  }

img{
  width: 180px;
  height: 180px;
  border-radius: 10px;
  border: white 5px solid;
  padding: 5px;
  border: 5px;
  margin: 0px 25px 0px 20px;
  }

h1 {
  font-weight: bolder;
  font-family: algerian;
  color: white;
  text-align: center;
  font-size: 50px;
  }

p {
  font-weight: bold;
  font-style: italic;
  margin-bottom: 20px;
  margin-left: 15px;
  color: white;
  text-align: center;
  }

input, button {
  height: 30px;
  border-radius: 5px;
  font-style: italic;
  font-size: 20px;
  color: whtie;
  }

div {
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-left: 30px;
  text-align: center;
  padding: 5px;
  }

a {
  font-weight: bolder;
  font-family: handlee;
  color: white;
  }

form {
  text-align: center;
}
